.summery{
    position: fixed;
    top: 1.7rem;
    background: #ffa31ae3;
    height: 45%;
    border-radius: 3px;
}

@media (max-width: 767px){
    .summery{
        position: fixed;
        top: 2rem;
        height: 55%;
        width: 92%;
    }
}